# Ignore everything in this directory
*
# Except this file and the manual codings
!.gitignore
!waddendrifters2023_grounding_events_manual_coding.csv
!waddendrifters2023_grounding_events_manual_coding_validation.csv